<!-- 
    maincontent.ejs
    
    Abishekh Manoharan
    301165253
    Sept-29-2021

 -->
 
<!--main content for the homepage-->
<%if(page === 'Home'){ %>
    <div class="container-fluid"> 
        <div class="row my-home-content1 justify-content-center align-items-end">
            <div class="col-sm-7" style="font-size: 110px;">Hello, World!</div>
        </div>
        <div class="row justify-content-center align-items-top">
            <div class="col-sm-3" style="font-size: 50px; text-align: right; color:goldenrod;">I'm Abi.</div>
            <div class="col-sm-3" style="font-size: 13px; color:white; ">My mission is to use my growing skillset to provide my clients with a website they love. Learn more <a href="/AboutMe">about me.</a></div>
        </div>
    </div>
<%}%>

<!--main content for the about me page-->
<%if(page === 'About Me'){ %>
    <div class="container-fluid" style="padding-top: 40px;">
        <div class = "row justify-content-center align-items-center">
            <div class="col-sm-3" style="background: rgba(245, 212, 153, 0.15); width: 285px; height:560px;"> <img style="height: 96%; padding-top:20px; " src="Assets/images/profile.jpg" alt="profile image"> </div>
            <div class="col-sm-5" style="padding-left: 20px; background: rgb(124, 118, 118, 0.09); height:580px; width:max-content;">
                <div style="color: white; padding-top:30px;">
                    <ul>
                        <li>
                            <p><strong>Name:</strong> Abishekh Manoharan</p>
                        </li>
                        <li>
                            <p><strong>Place of residence:</strong> Toronto, Canada</p>
                        </li>
                        <li>
                            <p>My <a href="Assets/documents/Resume.pdf">RESUME</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<%}%>

<!--main content for the project page-->
<%if(page === 'Projects'){ %>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6" style=" height: max-content; padding:20px;">
                <a href="http://studentweb.cencol.ca/amanoh15/ClientsideWebDev/Assignment6Site/Assignment6.html"><img style="width: 600px;" src="Assets/images/project-2.png" alt="project image"></a>
            </div>
            <div class="col-sm-6" style=" height: max-content; padding:20px;">
                <a href="http://studentweb.cencol.ca/amanoh15/WebInterfaceDesign/Term%20Project/Propery1/Property1.html"><img style="width: 600px;" src="Assets/images/project-1.png" alt="project image"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-6" style="height: max-content; padding:20px; ">
                <a href="http://studentweb.cencol.ca/amanoh15/ClientsideWebDev/Assignment5Site/Assignment5.html"><img style="width: 600px;"  src="Assets/images/project-3.png" alt="project image"></a>
            </div>
            <div class="col-sm-6" style=" height: max-content; padding:20px;">
                <!--<img style="max-width: -webkit-fill-available;" src="Assets/images/project-1.png" alt="profile image">-->
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
<%}%>


<!--main content for the Services page-->
<%if(page === 'Services'){ %>
    <div class="container-fluid">
        <div class="row align-items-end" style="height:200px">
            <div class="col-sm-2"><img style="width: 200px;" src="Assets/images/CSS.png"  alt="CSS logo"></div>
            <div class="col-sm-2"><img style="width: 200px;" src="Assets/images/HTML.png" alt="CSS logo"></div>
            <div class="col-sm-2"><img style="width: 200px;" src="Assets/images/CSHARP.png" alt="CSS logo"></div>
            <div class="col-sm-2"><img style="width: 200px;" src="Assets/images/JAVA.png" alt="CSS logo"></div>
            <div class="col-sm-2"><img style="width: 200px" src="Assets/images/JS.png" alt="CSS logo"></div>
            <div class="col-sm-2"><img style="width: 200px" src="Assets/images/SQL.png" alt="CSS logo"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="height:200px">
            <div class="col-sm-2" style="text-align: center; color: honeydew;">CSS</div>
            <div class="col-sm-2" style="text-align: center; color: honeydew;">HTML</div>
            <div class="col-sm-2" style="text-align: center; color: honeydew;">CSHARP</div>
            <div class="col-sm-2" style="text-align: center; color: honeydew;">JAVA</div>
            <div class="col-sm-2" style="text-align: center; color: honeydew;">JS</div>
            <div class="col-sm-2" style="text-align: center; color: honeydew;">SQL</div>
        </div>
    </div>
<%}%>

<!--main content for the contact me page-->
<%if(page === 'Contact'){ %>
    <div style="padding: 20px;"></div> 
    <!--container for personal contact information-->
    <div class="container" style="padding-top:20px;padding-bottom:20px; width: 70%; background-color:rgba(0, 0, 0, 0.75);">
        <div class="row justify-content-center">
            <div class="col-sm-8" style="text-align: center; color: white; line-height: 0.2;">
                <p><strong><u>Contact Me</u></strong></p>
                <p><strong>Email:</strong> abi.manoharan97@gmail.com</p>
                <p><strong>Phone Number:</strong> 647-761-6463</p>
            </div>
        </div>
    </div>

    <!--container for form components-->
   <div class="container" style="padding-top:20px;padding-bottom:20px; width: 70%; background-color:rgba(255, 255, 255, 0.75);">
        <form action="">
            <div class="row justify-content-center align-items-center">
                <div class = "col-sm-4">
                    <div class="form-group">
                        <label for="inputFname">First Name</label>
                        <input type="text" class="form-control" id="inputFname" placeholder="eg. John">
                      </div>
                </div>
                <div class = "col-sm-4">
                    <div class="form-group">
                        <label for="inputLname">Last Name</label>
                        <input type="text" class="form-control" id="inputLname" placeholder="eg. Smith">
                      </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style=" padding-top: 10px;">
                <div class = "col-sm-8">
                    <div class="form-group">
                        <label for="inputEAddress">Email</label>
                        <input type="text" class="form-control" id="inputEAddress" placeholder="eg. JohnSmith@email.com">
                      </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style=" padding-top: 10px;">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="inputMessage">Message</label>
                        <textarea class="form-control" id="inputMessage" rows="8"></textarea>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end align-items-center" style=" padding-top: 10px;">
                <div class="col-sm-4">
                    <!--submit and cancel buttons refer back to the home page. Note that the submit button only temporarily holds the button type.-->
                    <button type="button" onclick="location.href='home'"i id="submitbtn" class="btn btn-primary">Send</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="button" onclick="location.href='home'"id="cancelbtn" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
<%}%> 