<%if(page === 'Home'){ %>
    <div class="container-fluid"> 
        <div class="row my-home-content1 justify-content-center align-items-end">
            <div class="col-sm-7" style="font-size: 110px;">Hello, World!</div>
        </div>
        <div class="row justify-content-center align-items-top">
            <div class="col-sm-3" style="font-size: 50px; text-align: right; color:goldenrod;">I'm Abi.</div>
            <div class="col-sm-3" style="font-size: 13px; color:white; ">My mission is to use my growing skillset to provide my clients with a website they love. Learn more <a href="/AboutMe">about me.</a></div>
        </div>
    </div>
<%}%>

<%if(page === 'About Me'){ %>
    <div class="container-fluid" style="padding-top: 40px;">
        <div class = "row justify-content-center align-items-center">
            <div class="col-sm-3" style="background: rgba(245, 212, 153, 0.15); width: 285px; height:560px;"> <img style="height: 96%; padding-top:20px; " src="Assets/images/profile.jpg" alt="profile image"> </div>
            <div class="col-sm-5" style="padding-left: 20px; background: rgb(124, 118, 118, 0.09); height:580px; width:max-content;">
                <div style="color: white; padding-top:30px;">
                    <ul>
                        <li>
                            <p><strong>Name:</strong> Abishekh Manoharan</p>
                        </li>
                        <li>
                            <p><strong>Place of residence:</strong> Toronto, Canada</p>
                        </li>
                        <li>
                            <p>lol</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<%}%>

<%if(page === 'Projects'){ %>

<%}%>

<%if(page === 'Services'){ %>

<%}%>

<%if(page === 'Contact'){ %>

<%}%> 