
    /* app.css
    
    Abishekh Manoharan
    301165253
    Sept-29-2021 */


/* adding background */
body {
    background-image: url("/Assets/images/mainbg.jpg");
    background-size:cover;
}

.my-home-content1 {
    height:240px;
    color: white;
    text-align: center;
}
